{%- if paginate.pages > 1 -%}
  <div class="pagination">
    <div class="pagination__inner">
      {%- if paginate.previous -%}
        <a class="pagination__prev link" rel="prev" title="{{ 'general.pagination.previous_page' | t }}" data-page="{{ paginate.current_page | minus: 1 }}" href="{{ paginate.previous.url }}{{ hash }}">
          {%- render 'icon', icon: 'arrow-left' -%} {{- 'general.pagination.previous_page' | t -}}
        </a>
      {%- endif -%}

      <div class="pagination__nav">
        {%- for part in paginate.parts -%}
          {%- if part.is_link -%}
            <a href="{{ part.url }}{{ hash }}" data-page="{{ part.title }}" class="pagination__nav-item link" title="{{ 'general.pagination.go_to_page' | t: page: part.title }}">{{ part.title }}</a>
          {%- else -%}
            <span class="pagination__nav-item {% if part.title == paginate.current_page %}is-active{% endif %}">{{ part.title }}</span>
          {%- endif -%}
        {%- endfor -%}
      </div>

      <span class="pagination__page-count">{{ 'general.pagination.page_count' | t: current_page: paginate.current_page, pages: paginate.pages }}</span>

      {%- if paginate.next -%}
        <a class="pagination__next link" rel="next" title="{{ 'general.pagination.next_page' | t }}" data-page="{{ paginate.current_page | plus: 1 }}" href="{{ paginate.next.url }}{{ hash }}">
          {{- 'general.pagination.next_page' | t -}} {%- render 'icon', icon: 'arrow-right' -%}
        </a>
      {%- endif -%}
    </div>

    {% if template contains 'collection' %}
      <div class="pagination__per-page">
        <div class="hidden-pocket">
          {%- assign offset = paginate.current_offset | plus: 1 -%}
          {%- assign page_size = paginate.current_offset | plus: paginate.page_size | at_most: paginate.items -%}

          <div class="value-picker-wrapper">
            <button class="value-picker-button" aria-haspopup="true" aria-expanded="false" aria-controls="pagination-display-by-selector" data-action="open-value-picker">
              <span class="hidden-phone">{{ 'collection.general.display' | t }}: {{ 'collection.general.page_size' | t: page_size: paginate.page_size }}</span><!--
              -->{%- render 'icon', icon: 'arrow-bottom' -%}
            </button>

            <div id="pagination-display-by-selector" class="value-picker" aria-hidden="true">
              {% render 'icon', icon: 'nav-triangle-borderless' %}

              <div class="value-picker__inner">
                <header class="value-picker__header">
                  <span class="value-picker__title text--strong">{{ 'collection.general.display' | t }}</span>
                  <button class="value-picker__close" data-action="close-value-picker" aria-controls="pagination-display-by-selector" aria-label="{{ 'general.accessibility.close' | t }}">{% render 'icon', icon: 'close' %}</button>
                </header>

                <div class="value-picker__choice-list">
                  <button class="value-picker__choice-item link {% if items_per_page == 24 %}is-selected{% endif %}" data-action="select-value" data-value="24">{{ 'collection.general.page_size' | t: page_size: 24 }} {% render 'icon', icon: 'check-2' %}</button>
                  <button class="value-picker__choice-item link {% if items_per_page == 36 %}is-selected{% endif %}" data-action="select-value" data-value="36">{{ 'collection.general.page_size' | t: page_size: 36 }} {% render 'icon', icon: 'check-2' %}</button>
                  <button class="value-picker__choice-item link {% if items_per_page == 48 %}is-selected{% endif %}" data-action="select-value" data-value="48">{{ 'collection.general.page_size' | t: page_size: 48 }} {% render 'icon', icon: 'check-2' %}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{%- endif -%}