{%- comment -%}We start by creating a lot of useful variables !{%- endcomment -%}

{%- assign color_label = 'color,colour,couleur,cor,colore,farbe,색,色,カラー,färg,farve,szín,barva' | split: ',' -%}
{%- assign items_per_page = cart.attributes.collection_products_per_page | default: section.settings.default_products_per_page -%}
{%- assign quick_links_menu = section.settings.quick_links -%}

{%- if quick_links_menu.links.size > 0 or section.settings.show_filters and collection.filters != empty -%}
  {%- assign has_filters = true -%}
{%- else -%}
  {%- assign has_filters = true -%}
{%- endif -%}

{%- if has_filters -%}
  {%- capture grid_classes -%}1/3--grid {{ section.settings.products_per_row }}--desk{%- endcapture -%}
{%- else -%}
  {%- capture grid_classes -%}1/3--grid {{ section.settings.products_per_row }}--lap-and-up{%- endcapture -%}
{%- endif -%}

{%- assign view_mode = cart.attributes.collection_layout | default: section.settings.default_view_layout -%}
{%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}

{%- assign active_filters_count = 0 -%}

{%- for filter in collection.filters -%}
  {%- if filter.type == 'list' -%}
    {%- assign active_filters_count = active_filters_count | plus: filter.active_values.size -%}
  {%- elsif filter.type == 'price_range' and filter.min_value.value or filter.max_value.value -%}
    {%- assign active_filters_count = active_filters_count | plus: 1 -%}
  {%- elsif filter.type == 'boolean' and filter.true_value.active %}
    {%- assign active_filters_count = active_filters_count | plus: 1 -%}
  {%- endif -%}
{%- endfor -%}

{%- capture section_settings -%}
{
  "currentSortBy": {{ sort_by | json }},
  "defaultLayout": {{ section.settings.default_view_layout | json }},
  "defaultProductsPerPage": {{ section.settings.default_products_per_page | json }},
  "gridClasses": {{ grid_classes | json }}
}
{%- endcapture -%}

<section data-section-id="{{ section.id }}" data-section-type="collection" data-section-settings='{{ section_settings }}'>
  <div class="container container--flush">
    <div class="page__sub-header">
      <nav aria-label="{{ 'general.breadcrumb.title' | t }}" class="breadcrumb">
        <ol class="breadcrumb__list" role="list">
          <li class="breadcrumb__item">
            <a class="breadcrumb__link link" href="{{ routes.root_url }}">{{ 'general.breadcrumb.home' | t }}</a> {%- render 'icon', icon: 'arrow-right' -%}
          </li>

          <li class="breadcrumb__item">
            <a class="breadcrumb__link link" href="{{ collection.url }}" aria-current="page">
              {%- if collection.handle == 'all' -%}
                {{- 'collection.general.all_products' | t -}}
              {%- else -%}
                {{- collection.title -}}
              {%- endif -%}
            </a>
          </li>
        </ol>
      </nav>
    </div>

    <div class="layout">
      {%- comment -%}
      --------------------------------------------------------------------------------------
      FILTER BAR (DESKTOP)
      --------------------------------------------------------------------------------------
      {%- endcomment -%}
          {%- if has_filters -%}
          <div class="layout__section layout__section--secondary">
            <div class="card">
              <div class="card__section card__section--tight">
                <p class="card__title--small collection-heading h3 heading">{{ collection.title }}</p>
                {% assign collection_description_words = collection.description | strip_html | split: ' ' %}
                {% assign collection_description_word_count = collection.description | strip_html | split: ' ' | size %}
                {% if collection_description_word_count > 18 %}
                  {% for word in collection_description_words %}
                    {% if forloop.index <= 18 %}
                      {{ word }}
                    {% endif %}
                  {% endfor %}
                  <a href="#" data-toggle="read-more" data-toggle-format="inline" class="inline">Read More</a>
                  <span id="read-more" style="display: none;">
                    {% for word in collection_description_words %}
                      {% if forloop.index > 18 %}
                        {{ word }}
                      {% endif %}
                    {% endfor %}
                    <div>
                      <a href="#" id="read-less" data-toggle-format="inline" class="inline">Read Less</a>
                    </div>
                  </div>
                {% else %}
                  <div>{{ collection.description | strip_html }}</div>
                {% endif %}
              </div>
            </div>
            <div class="card hidden-pocket">
              <div class="card__section card__section--tight">
                <button type="button" class="collection__filter-group-name card__title--small heading"  data-action="toggle-collapsible" aria-controls="collections" data-close-siblings="false" data-collapsible-force-overflow="true" aria-expanded="true">
                  {{ 'collection.general.all_collections' | t }} {%- render 'icon', icon: 'arrow-bottom' -%}
                </button>
                <div id="collections" class="collection__filter-collapsible" aria-hidden="false" style="height: auto; overflow: visible">
                <ul class="top-level-list">
                  {%- for link in linklists.main-menu.links -%}
                    <li><a href="{{ link.url }}" {% if collection.url == link.url %}class="active"{% endif %}>{{ link.title }}</a></li>
                  {% endfor %}
                </ul>
                </div>
              </div>
              {%- assign has_items = false -%}
              {%- for link in linklists.main-menu.links -%}
                  {% if link.url == collection.url %}
                    {% assign tru = link.links %}
                  {% endif %}
              {%- endfor -%} 

              <div class="card__section card__section--tight">
                <button type="button" class="collection__filter-group-name card__title--small heading"  data-action="toggle-collapsible" aria-controls="categories" data-close-siblings="false" data-collapsible-force-overflow="true" aria-expanded="true">
                  {{ 'collection.filter.categories' | t }} {%- render 'icon', icon: 'arrow-bottom' -%}
                </button>
                <div id="categories" class="collection__filter-collapsible" aria-hidden="false" style="height: auto; overflow: visible">
                <ul class="top-level-list">
                  {%- for link in tru -%}
                      <li><a href="{{ link.url }}" {% if collection.url == link.url %}class="active"{% endif %}>{{ link.title }}</a></li>
                  {% endfor %}
                </ul>
                </div>
              </div>
            </div>
          {%- endif -%}
        </div>
      

      {%- paginate collection.products by items_per_page -%}
        <div {% if has_filters %}class="layout__section"{% endif %}>
          <div class="collection">
            {%- unless collection.template_suffix == 'brand' -%}
              {%- if section.settings.show_collection_image and collection.image and collection.all_products_count > 0 -%}
                {%- if section.settings.collection_image_size == 'preserve_ratio' -%}
                  {%- capture supported_sizes -%}{%- render 'image-size', sizes: '400,500,600,700,800,900,1000, 1200, 1400, 1600', image: collection.image -%}{%- endcapture -%}
                  {%- assign image_url = collection.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

                  <div class="collection__image-wrapper collection__image-wrapper--preserve-ratio">
                    <div class="aspect-ratio" style="padding-bottom: {{ 100.0 | divided_by: collection.image.aspect_ratio }}%">
                      <img class="lazyload image--fade-in" data-src="{{ image_url }}" data-sizes="auto" data-widths="[{{ supported_sizes }}]" alt="{{ collection.image.alt | escape }}">
                    </div>
                  </div>
                {%- else -%}
                  <div class="collection__image-wrapper collection__image-wrapper--{{ section.settings.collection_image_size }}" style="background-image: url({{ collection.image | img_url: '1x1' }})">
                    <div class="collection__image lazyload image--fade-in" data-bgset="{{ collection.image | img_url: '600x' }} 600w, {{ collection.image | img_url: '800x' }} 800w, {{ collection.image | img_url: '1000x' }} 1000w, {{ collection.image | img_url: '1200x' }} 1200w, {{ collection.image | img_url: '1500x' }} 1500w"></div>
                  </div>
                {%- endif -%}
              {%- endif -%}
            {%- endunless -%}

            {%- comment -%}
            --------------------------------------------------------------------------------------
            TOP PART (COLLECTION INFO + TOOLBAR)
            --------------------------------------------------------------------------------------
            {%- endcomment -%}
              <div class="card {{ template.name }}">
                
                {%- comment -%}
                <header class="card__header {% unless collection.template_suffix == 'brand' %}card__header--tight{% endunless %}">
                  {%- comment -%}
                  IMPLEMENTATION NOTE: unfortunately I was forced to add a lot of extra div (collection__meta, collection__meta-inner, collection__header-inner,...)
                                       to be able to accommodate with the brand related layout which make things more complicated...
                  {%- endcomment -%}

                  <div class="collection__header {% if collection.template_suffix == 'brand' %}collection__header--brand{% endif %}">
                    {%- if section.settings.show_collection_image and collection.image and collection.all_products_count > 0 and collection.template_suffix == 'brand' -%}
                      <div class="collection__brand-logo-wrapper hidden-pocket">
                        <div class="collection__brand-logo-image lazyload image--fade-in" data-bg="{{ collection.image | img_url: '250x' }}"></div>
                      </div>
                    {%- endif -%}

                    <div class="collection__header-inner">
                      <div class="collection__meta">
                        {%- if section.settings.show_collection_image and collection.image and collection.all_products_count > 0 and collection.template_suffix == 'brand' -%}
                          <div class="collection__brand-logo-wrapper hidden-lap-and-up">
                            <div class="collection__brand-logo-image lazyload image--fade-in" data-bg="{{ collection.image | img_url: '250x' }}"></div>
                          </div>
                        {%- endif -%}

                        <div class="collection__meta-inner">
                          <h1 class="collection__title heading h1">
                            {%- if collection.handle == 'all' -%}
                              {{- 'collection.general.all_products' | t -}}
                            {%- else -%}
                              {{- collection.title -}}
                            {%- endif -%}
                          </h1>
                          {%- assign offset = paginate.current_offset | plus: 1 -%}
                          {%- assign page_size = paginate.current_offset | plus: paginate.page_size | at_most: paginate.items -%}

                          <p class="collection__products-count collection__products-count-total text--small hidden-lap-and-up">{{ 'collection.general.products_count' | t: count: collection.products_count }}</p>
                          <p class="collection__products-count collection__products-count-showing text--small hidden-pocket hidden-desk">{{ 'collection.general.showing_count' | t: offset: offset, page_size: page_size, count: paginate.items }}</p>
                        </div>
                      </div>

                      {%- if collection.description != blank -%}
                        {%- assign allow_collapse_description = false -%}

                        {%- if section.settings.collapse_collection_description -%}
                          {%- assign allow_collapse_description = true -%}
                        {%- endif -%}

                        <div class="collection__description {% if allow_collapse_description %}expandable-content{% endif %}" aria-expanded="false">
                          <div class="rte">
                            {{ collection.description }}
                          </div>

                          {%- if allow_collapse_description -%}
                            <button class="expandable-content__toggle">
                              <span class="expandable-content__toggle-icon"></span>
                              <span class="expandable-content__toggle-text" data-view-more="{{ 'collection.general.view_more' | t | escape }}" data-view-less="{{ 'collection.general.view_less' | t | escape }}">{{- 'collection.general.view_more' | t -}}</span>
                            </button>
                          {%- endif -%}
                        </div>
                      {%- endif -%}
                    </div>
                  </div>
                </header>
                {%- endcomment -%}
                <div class="collection__dynamic-part list">
                  
                  {%- comment -%}
                  --------------------------------------------------------------------------------------
                  MOBILE FILTERS
                  --------------------------------------------------------------------------------------
                  {%- endcomment -%}

                  {%- if has_filters and active_filters_count > 0 -%}
                    <div class="card__section collection__mobile-filters-recap hidden-lap-and-up">
                      <div class="collection__mobile-active-filters">
                        {%- for filter in collection.filters -%}
                          {%- if filter.type == 'list' -%}
                            {%- for active_filter_value in filter.active_values -%}
                              <button class="collection__mobile-active-filter-item" data-action="clear-filters" data-url="{{ active_filter_value.url_to_remove | escape }}">
                                <span class="collection__mobile-active-filter-cross">{% render 'icon', icon: 'close' %}</span>
                                {{- active_filter_value.label -}}
                              </button>
                            {%- endfor -%}
                          {%- elsif filter.type == 'price_range' and filter.min_value.value or filter.max_value.value -%}
                            <button class="collection__mobile-active-filter-item" data-action="clear-filters" data-url="{{ filter.url_to_remove | escape }}">
                              <span class="collection__mobile-active-filter-cross">{% render 'icon', icon: 'close' %}</span>
                              {{- filter.min_value.value | default: 0 | money_without_trailing_zeros }} - {{ filter.max_value.value | default: filter.range_max | money_without_trailing_zeros -}}
                            </button>
                          {%- elsif filter.type == 'boolean' and filter.true_value.active -%}
                            <button class="collection__mobile-active-filter-item" data-action="clear-filters" data-url="{{ filter.url_to_remove | escape }}">
                              <span class="collection__mobile-active-filter-cross">{% render 'icon', icon: 'close' %}</span>
                              {{- filter.label | remove: 'Filter - ' -}}
                            </button>                           
                          {%- endif -%}
                        {%- endfor -%}

                        {%- if active_filters_count > 1 -%}
                          <button class="collection__mobile-active-clear" data-action="clear-filters" data-url="{{ collection.url }}?sort_by={{ sort_by }}">{{ 'collection.filter.clear_all' | t }}</button>
                        {%- endif -%}
                      </div>

                      <span class="collection__mobile-active-filters-results">{{ 'collection.general.results_count' | t: count: collection.products_count }}</span>
                    </div>
                  {%- endif -%}

                  {%- comment -%}
                  --------------------------------------------------------------------------------------
                  COLLECTION PRODUCTS
                  --------------------------------------------------------------------------------------
                  {%- endcomment -%}
                    {%- if view_mode == 'grid' -%}
                      {%- assign show_as_list = false -%}
                    {%- else -%}
                      {%- assign show_as_list = true -%}
                    {%- endif -%}
                    <div class="block-list">
                      {%- assign main_menu = linklists['main-menu'] -%}

                      {%- for link in main_menu.links -%}
                          {% if link.url == collection.url %}
                              
                            {% assign collections = link.links %}
                              
                          {% endif %}
                      {%- endfor -%}

                      {% if collections != blank %}
                        {%- assign collections = collections -%}
                      {% endif %}
                      {%- for collection in collections -%}
                        {% render 'collection-item', collection: collection %}
                        {% if forloop.index == 6 %}
                          {% if collection.metafields.custom.promo_link_3 != blank %}
                            <a href="{{ collection.metafields.custom.promo_link_3 }}" class="collection-promo mid-promo">
                              <img src="{{ collection.metafields.custom.promo_image_3 | img_url: 'master' }}" alt="{{ collection.metafields.custom.promo_image_3.alt }}">
                            </a>
                          {% endif %}
                        {% endif %}
                        {% if forloop.index == 9 %}
                          {% if collection.metafields.custom.promo_link_4 != blank %}
                            <a href="{{ collection.metafields.custom.promo_link_4 }}" class="collection-promo mid-promo">
                              <img src="{{ collection.metafields.custom.promo_image_4 | img_url: 'master' }}" alt="{{ collection.metafields.custom.promo_image_4.alt }}">
                            </a>
                          {% endif %}
                        {% endif %}
                      {%- endfor -%}
                    </div>
                      {% if section.settings.show_lower_block and section.settings.lower_block_image != blank %}
                        <a class="collection-promo lower-block lower-block-image">
                          <img class="{% if section.settings.lower_block_image_mobile %}hidden-phone{% endif %}" src="{{ section.settings.lower_block_image | img_url: 'master' }}" alt="{{ section.settings.lower_block_image.alt }}">
                          {%- if section.settings.show_lower_block_mobile -%}
                            <img class="hidden-tablet-and-up" src="{{ section.settings.lower_block_image_mobile | img_url: 'master' }}" alt="{{ section.settings.lower_block_image_mobile.alt }}">
                          {%- endif -%}
                        </a>
                      {% else %}
                        {% if collection.metafields.custom.promo_link_5 != blank %}
                          <a href="{{ collection.metafields.custom.promo_link_5 }}" class="collection-promo mid-promo">
                            <img src="{{ collection.metafields.custom.promo_image_5 | img_url: 'master' }}" alt="{{ collection.metafields.custom.promo_image_5.alt }}">
                          </a>
                        {% endif %} 
                      {% endif %}

                      {% if collection.metafields.custom.promo_image_1 != blank %}
                <div class="collection-promo-container">
                  <a href="{{ collection.metafields.custom.promo_link_1 }}" class="collection-promo {% if collection.metafields.custom.promo_image_2 != blank %}two-third{% endif %}">
                    <img src="{{ collection.metafields.custom.promo_image_1 | img_url: 'master' }}" alt="{{ collection.metafields.custom.promo_image_1.alt }}">
                  </a>
                  {% if collection.metafields.custom.promo_image_2 != blank %}
                  <a href="{{ collection.metafields.custom.promo_link_2 }}" class="collection-promo first-third">
                    <img src="{{ collection.metafields.custom.promo_image_2 | img_url: 'master' }}" alt="{{ collection.metafields.custom.promo_image_2.alt }}">
                  </a>
                  {% endif %}
                </div>
                {% else %}
                 {% if section.settings.show_collection_promo %}
                    <a href="{{ section.settings.promo_link }}" class="collection-promo">
                      <img src="{{ section.settings.promo_image | image_url: width: 1200 }}" loading="eager" fetchpriority="high" alt="{{ section.settings.promo_image.alt }}">
                    </a>
                  {% endif %}
                {% endif %}
                    
                    <div class="trustpilot-block"> 
                      <div class="trustpilot-content">
                        <div class="trustpilot-badge-container">
                          <img class="trustpilot-badge" src="https://cdn.shopify.com/s/files/1/0585/9776/9353/files/trustpilot-logo-snijpunt.1600x680x1.png?v=1654772087" alt="Trustpilot" loading="lazy">
                        </div>
                        <p>{{ section.settings.trustpilot_text }}</p>
                      </div>
                      <div class="trustpilot-button-content">
                        <a href="{{ section.settings.trustpilot_link }}" class="button button--primary">{{ 'product.general.read_reviews' | t }}</a>
                      </div>
                    </div>

                    {%- render 'pagination', paginate: paginate -%}
                  <script type="application/json" data-collection-products-count>
                    {
                      "productsCount": "{{ 'collection.general.products_count' | t: count: collection.products_count }}",  
                      "showingCount": "{{ 'collection.general.showing_count' | t: offset: offset, page_size: page_size, count: paginate.items }}"
                    }
                  </script>
                </div>
              </div>
          </div>
        </div>
      {%- endpaginate -%}
    </div>
  </div>

  {%- if has_filters -%}
    <div id="mobile-collection-filters" class="drawer" aria-hidden="true">
      <div class="drawer__inner">
        <div class="collection-drawer">
          <header class="collection-drawer__header">
            <div>
              <button class="collection-drawer__close" data-action="close-drawer" title="{{ 'general.accessibility.close' | t | escape }}">
                {%- render 'icon', icon: 'close' -%}
              </button>
              <span class="collection-drawer__title heading h3">{{ 'collection.filter.all' | t }} <span class="collection-drawer__filter-count" {% if active_filters_count == 0 %}style="display: none"{% endif %}>({{ active_filters_count }})</span></span>
            </div>

            <button class="button button--transparent button--extra-small" data-action="clear-filters" data-url="{{ collection.url }}?sort_by={{ sort_by }}" {% if active_filters_count == 0 %}style="display: none"{% endif %}>{{ 'collection.filter.clear' | t }}</button>
          </header>

          <form id="mobile-collection-filters-form" class="collection-drawer__inner">
            <input type="hidden" name="sort_by" value="{{ sort_by }}">

            {%- if collection.current_type != blank or collection.current_vendor != blank -%}
              <input type="hidden" name="q" value="{{ collection.current_vendor | default: collection.current_type | escape }}">
            {%- endif -%}

            {%- if quick_links_menu.links.size > 0 -%}
              {%- capture link_id -%}filter-{% increment link_id %}{%- endcapture -%}

              <p class="collection-drawer__section-title">{{ quick_links_menu.title }}</p>

              <div class="collection__filter-group">
                <button type="button" class="collection__filter-group-name text--strong" aria-expanded="false" aria-controls="{{ link_id }}" data-action="toggle-collapsible" data-close-siblings="false">
                  {{- 'collection.filter.select_category' | t -}}
                  {%- render 'icon', icon: 'arrow-bottom' -%}
                </button>

                <div id="{{ link_id }}" class="collection__filter-collapsible" aria-hidden="true">
                  <ul class="collection__filter-linklist" role="list">
                    {%- for link in quick_links_menu.links -%}
                      <li>
                        {%- if link.links.size > 0 -%}
                          {%- capture link_id -%}filter-{% increment link_id %}{%- endcapture -%}

                          <button type="button" class="collection__filter-link link link--primary {% if link.active or link.child_active %}is-active{% endif %}" data-action="toggle-collapsible" aria-controls="{{ link_id }}" aria-expanded="false">
                            {{ link.title }} {% if link.type == 'collection_link' and section.settings.quick_links_show_products_count %}({{ link.object.products_count }}){% endif %} {%- render 'icon', icon: 'arrow-bottom' -%}
                          </button>

                          <div id="{{ link_id }}" class="collection__filter-collapsible" aria-hidden="true">
                            <ul class="collection__filter-linklist" role="list">
                              {%- for sub_link in link.links -%}
                                <li>
                                  {%- if sub_link.links.size > 0 -%}
                                    {%- capture link_id -%}filter-{% increment link_id %}{%- endcapture -%}

                                    <button type="button" class="collection__filter-link link link--primary {% if sub_link.active or sub_link.child_active %}is-active{% endif %}" data-action="toggle-collapsible" aria-controls="{{ link_id }}" aria-expanded="{% if sub_link.active or sub_link.child_active %}true{% else %}false{% endif %}">
                                      {{ sub_link.title }} {% if sub_link.type == 'collection_link' and section.settings.quick_links_show_products_count %}({{ sub_link.object.products_count }}){% endif %} {%- render 'icon', icon: 'arrow-bottom' -%}
                                    </button>

                                    <div id="{{ link_id }}" class="collection__filter-collapsible" {% if sub_link.active or sub_link.child_active %}aria-hidden="false" style="height: auto; overflow: visible"{% else %}aria-hidden="true"{% endif %}>
                                      <ul class="collection__filter-linklist" role="list">
                                        {%- for sub_sub_link in sub_link.links -%}
                                          <li>
                                            <a href="{{ sub_sub_link.url }}" class="collection__filter-link link link--primary {% if sub_sub_link.active %}is-active{% endif %}">{{ sub_sub_link.title }} {% if sub_sub_link.type == 'collection_link' and section.settings.quick_links_show_products_count %}({{ sub_sub_link.object.products_count }}){% endif %}</a>
                                          </li>
                                        {%- endfor -%}
                                      </ul>
                                    </div>
                                  {%- else -%}
                                    <a href="{{ sub_link.url }}" class="collection__filter-link link link--primary {% if sub_link.active %}is-active{% endif %}">{{ sub_link.title }} {% if sub_link.type == 'collection_link' and section.settings.quick_links_show_products_count %}({{ sub_link.object.products_count }}){% endif %}</a>
                                  {%- endif -%}
                                </li>
                              {%- endfor -%}
                            </ul>
                          </div>
                        {%- else -%}
                          <a href="{{ link.url }}" class="collection__filter-link link link--primary {% if link.active or link.child_active %}is-active{% endif %}">{{ link.title }} {% if link.type == 'collection_link' and section.settings.quick_links_show_products_count %}({{ link.object.products_count }}){% endif %}</a>
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
              </div>
            {%- endif -%}

            {%- if section.settings.show_filters and collection.filters != empty -%}
              <p class="collection-drawer__section-title">{{ 'collection.filter.all' | t }}</p>

              {%- for filter in collection.filters -%}
                {%- if template.suffix == 'brand' and filter.param_name == 'filter.p.vendor' and filter.values.size == 1 -%}
                  {%- continue -%}
                {%- endif -%}

                {%- assign filter_label_downcase = filter.label | downcase -%}

                {%- if color_label contains filter_label_downcase and section.settings.show_filter_color_swatch -%}
                  {%- assign show_color_swatch = true -%}
                {%- else -%}
                  {%- assign show_color_swatch = false -%}
                {%- endif -%}

                <div class="collection__filter-group">
                  {%- if filter.type == 'price_range' or filter.type == 'list' -%}
                    <button type="button" class="collection__filter-group-name link link--secondary text--strong" data-action="toggle-collapsible" aria-controls="mobile-{{ filter.param_name | handle | escape }}" data-close-siblings="false" data-collapsible-force-overflow="true" aria-expanded="false">
                      <div>
                        {{- filter.label | remove: 'Filter - ' -}}

                        {%- if filter.type == 'list' and filter.active_values.size > 0 -%}
                          <span class="collection__filter-item-active">{{ filter.active_values | map: 'label' | join: ', ' }}</span>
                        {%- elsif filter.type == 'price_range' and filter.min_value.value or filter.max_value.value -%}
                          <span class="collection__filter-item-active">{{ filter.min_value.value | default: 0 | money_without_trailing_zeros }} - {{ filter.max_value.value | default: filter.range_max | money_without_trailing_zeros }}</span>
                        {%- endif -%}
                      </div>

                      {%- render 'icon', icon: 'arrow-bottom' -%}
                    </button>
                  {%- else -%}
                    <div class="collection__filter-group-name link link--secondary text--strong">
                      <label for="{{ filter.param_name }}">{{- filter.label -}}</label>
                      <input class="switch-checkbox" type="checkbox" name="{{ filter.param_name }}" id="{{ filter.param_name }}" value="1" {% if filter.true_value.active %}checked{% endif %}>
                    </div>
                  {%- endif -%}

                  <div id="mobile-{{ filter.param_name | handle | escape }}" class="collection__filter-collapsible" aria-hidden="true">
                    {%- case filter.type -%}
                      {%- when 'list' -%}
                        {%- if show_color_swatch -%}
                          <div class="collection__filter-color-list">
                            <div class="color-swatch-list color-swatch-list--stack">
                              {%- assign color_swatch_config = settings.color_swatch_config | newline_to_br | split: '<br />' -%}

                              {%- for filter_value in filter.values -%}
                                {%- capture color_id -%}filter-color-{% increment color_index %}{%- endcapture -%}
                                {%- assign downcased_value = filter_value.label | downcase -%}

                                <div class="color-swatch {% if downcased_value == 'white' or downcased_value == 'blanc' %}color-swatch--white{% endif %}">
                                  <input class="color-swatch__radio" type="checkbox" name="{{ filter.param_name }}" id="mobile-{{ filter_value.param_name }}-{{ filter_value.value }}" value="{{ filter_value.value }}" {% if filter_value.active %}checked{% endif %}>

                                  <label for="mobile-{{ filter_value.param_name }}-{{ filter_value.value }}" class="color-swatch__button color-swatch__button--labelled {% if filter_value.active %}is-selected{% endif %}">
                                    <span class="color-swatch__item" style="{% render 'color-swatch-style', color_swatch_config: color_swatch_config, value: downcased_value %}"></span>
                                    <span class="color-swatch__label">{{ filter_value.label }}</span>
                                  </label>
                                </div>
                              {%- endfor -%}
                            </div>
                          </div>
                        {%- else -%}
                          <ul class="collection__filter-checkbox-list" role="list">
                            {%- for filter_value in filter.values -%}
                              <li class="collection__filter-checkbox">
                                <div class="checkbox-wrapper">
                                  <input type="checkbox" class="checkbox" id="mobile-{{ filter_value.param_name }}-{{ filter_value.value }}" name="{{ filter.param_name }}" value="{{ filter_value.value }}" {% if filter_value.active %}checked="checked"{% endif %}>
                                  {% render 'icon', icon: 'check' %}
                                </div>

                                <label for="mobile-{{ filter_value.param_name }}-{{ filter_value.value }}">{{ filter_value.label }} {% if section.settings.quick_links_show_products_count %}({{ filter_value.count }}){% endif %}</label>
                              </li>
                            {%- endfor -%}
                          </ul>
                        {%- endif -%}

                      {%- when 'price_range' -%}
                        <price-range class="price-range">
                          {%- assign min_value = filter.min_value.value | default: 0.0 | divided_by: 100.0 -%}
                          {%- assign max_value = filter.max_value.value | default: filter.range_max | divided_by: 100.0 -%}
                          {%- assign range_max = filter.range_max | divided_by: 100.0 | ceil -%}

                          {% assign lower_bound_progress = min_value | divided_by: range_max | times: 100.0 %}
                          {% assign higher_bound_progress = max_value | divided_by: range_max | times: 100.0 %}

                          <div class="price-range__range-group range-group" style="--range-min: {{ lower_bound_progress }}%; --range-max: {{ higher_bound_progress }}%">
                            <input type="range" aria-label="{{ 'collection.filter.price_filter_from' | t }}" class="range" min="0" max="{{ range_max | ceil }}" value="{{ min_value | ceil }}">
                            <input type="range" aria-label="{{ 'collection.filter.price_filter_to' | t }}" class="range" min="0" max="{{ range_max | ceil }}" value="{{ max_value | ceil }}">
                          </div>

                          <div class="price-range__input-group">
                            <div class="price-range__input input-prefix">
                              <span class="input-prefix__value">{{ cart.currency.symbol }}</span>
                              <input aria-label="{{ 'collection.filter.price_filter_from' | t }}" class="input-prefix__field" type="number" inputmode="numeric" {% if filter.min_value.value %}value="{{ min_value | ceil }}"{% endif %} name="{{ filter.min_value.param_name }}" min="0" max="{{ max_value | ceil }}" placeholder="0">
                            </div>

                            <span class="price-range__delimiter text--small">-</span>

                            <div class="price-range__input input-prefix">
                              <span class="input-prefix__value">{{ cart.currency.symbol }}</span>
                              <input aria-label="{{ 'collection.filter.price_filter_to' | t }}" class="input-prefix__field" type="number" inputmode="numeric" {% if filter.max_value.value %}value="{{ max_value | ceil }}"{% endif %} name="{{ filter.max_value.param_name }}" min="{{ min_value | ceil }}" max="{{ range_max | ceil }}" placeholder="{{ range_max | ceil }}">
                            </div>
                          </div>
                        </price-range>
                    {%- endcase -%}
                  </div>
                </div>
              {%- endfor -%}
            {%- endif -%}
          </form>

          <div class="collection-drawer__footer">
            <button type="button" class="button button--primary button--small button--full" data-action="close-drawer">{{ 'collection.filter.view_results' | t }}</button>
          </div>
        </div>
      </div>
    </div>
  {%- endif -%}

  {%- comment -%}
  --------------------------------------------------------------------------------------
  QUICK VIEW CONTAINER
  --------------------------------------------------------------------------------------
  {%- endcomment -%}

  <div id="modal-quick-view-{{ section.id }}" class="modal" aria-hidden="true">
    <div class="modal__dialog modal__dialog--stretch" role="dialog">
      <button class="modal__close link" data-action="close-modal" title="{{ 'general.accessibility.close' | t | escape }}">
        {%- render 'icon', icon: 'close' -%}
      </button>

      <div class="modal__loader">
        {%- render 'icon', icon: 'search-loader' -%}
      </div>

      <div class="modal__inner"></div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Collection",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_collection_promo",
      "label": "Show Collection Promo",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "promo_image",
      "label": "Promo Image"
    },
    {
      "type": "url",
      "id": "promo_link",
      "label": "Promo Link"
    },
    {
      "type": "checkbox",
      "id": "collapse_collection_description",
      "label": "Collapse long description",
      "default": false
    },
    {
      "type": "select",
      "id": "collection_image_size",
      "label": "Collection image size",
      "options": [
        {
          "value": "preserve_ratio",
          "label": "Original image ratio"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "small"
    },
    {
      "type": "select",
      "id": "products_per_row",
      "label": "Products per row (desktop)",
      "options": [
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        }
      ],
      "default": "4"
    },
    {
      "type": "range",
      "id": "default_products_per_page",
      "label": "Default products per page",
      "min": 24,
      "max": 48,
      "step": 12,
      "default": 24
    },
    {
      "type": "select",
      "id": "default_view_layout",
      "label": "Default view layout",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "list",
          "label": "List"
        }
      ],
      "default": "grid"
    },
    {
      "type": "select",
      "id": "show_quick_buy",
      "label": "Show quick buy on...",
      "options": [
        {
          "value": "list",
          "label": "List view"
        },
        {
          "value": "list_grid",
          "label": "List and grid views"
        }
      ],
      "default": "list"
    },
    {
      "type": "select",
      "id": "show_quick_view",
      "label": "Show quick view on...",
      "options": [
        {
          "value": "list",
          "label": "List view"
        },
        {
          "value": "list_grid",
          "label": "List and grid views"
        }
      ],
      "default": "list"
    },
    {
      "type": "header",
      "content": "Sidebar"
    },
    {
      "type": "link_list",
      "id": "quick_links",
      "label": "Quick links"
    },
    {
      "type": "checkbox",
      "id": "quick_links_show_products_count",
      "label": "Show products count",
      "info": "Only for collection links and filters",
      "default": true
    },
    {
      "type": "header",
      "content": "Filtering"
    },
    {
      "type": "checkbox",
      "id": "show_filters",
      "label": "Show filters",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_filter_color_swatch",
      "label": "Show filter color swatch",
      "info": "Requires a filter named \"Color\".",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_lower_block",
      "label": "Show block under product grid",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "lower_block_image",
      "label": "Lower block image"
    },
    {
      "type": "image_picker",
      "id": "lower_block_image_mobile",
      "label": "Lower block image mobile"
    },
    {
      "type": "url",
      "id": "lower_block_link",
      "label": "Lower block link"
    },
    {
      "type": "text",
      "id": "trustpilot_text",
      "label": "Trustpilot Text",
      "default": "Shelves and workbench are brilliant. Feet are a bit fiddly but are by no means impossible to fit. Instructions were absolutely fine and they look fantastic. Really pleased with how they fit together with no bolts as this made construction very simple! They have completely cleared the garage up of stuff that was lying on the floor and they are very sturdy. Brilliant!"
    },
    {
      "type": "url",
      "id": "trustpilot_link",
      "label": "Trustpilot Link"
    },
    {
      "type": "select",
      "id": "open_group_filters_mode",
      "label": "Filter opening mode (desktop)",
      "options": [
        {
          "value": "all_closed",
          "label": "All closed"
        },
        {
          "value": "all_open",
          "label": "All open"
        },
        {
          "value": "first_open",
          "label": "First open"
        }
      ],
      "default": "all_closed"
    }
  ]
}
{% endschema %}